#asker{
    background-color: aquamarine;
    border-radius: 10%;
    font-size: 20px;
}

#container .liner .flexdraw{
    flex:0 0 auto;
    background-color:white;
    width:16px;
    border: 1px solid black;
}

#container .liner .flexdraw:hover{
    background-color: black;
}

#container .liner{
    display: flex;
    height: 16px;
}
